USE [master]
GO
/****** Object:  Database [GCafeDemo]    Script Date: 6/3/2021 10:49:39 AM ******/
CREATE DATABASE [GCafeDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GCafeDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GCafeDemo.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GCafeDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GCafeDemo_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GCafeDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GCafeDemo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[username] [char](20) NULL,
	[pass] [char](20) NULL,
	[tien] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[adminaccount]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adminaccount](
	[usernamead] [char](20) NULL,
	[passad] [char](20) NULL,
	[tenad] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dichvu]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dichvu](
	[iddichvu] [char](10) NULL,
	[tendichvu] [nvarchar](40) NULL,
	[loaidichvu] [char](30) NULL,
	[gia] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eatNdrink]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eatNdrink](
	[username] [char](20) NULL,
	[tenmon] [char](40) NULL,
	[gia] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hoadon](
	[idhoadon] [char](20) NULL,
	[idmay] [char](20) NULL,
	[username] [char](20) NULL,
	[checkin] [datetime] NULL,
	[checkout] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[may]    Script Date: 6/3/2021 10:49:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[may](
	[idmay] [char](10) NULL,
	[loaimay] [char](10) NULL,
	[trangthai] [bit] NULL,
	[gia] [money] NULL,
	[username] [varchar](20) NULL,
	[checkin] [datetime] NULL,
	[checkout] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
